<a href="https://colab.research.google.com/github/jerrvonewing/machine-learning-a-to-z/blob/main/data_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Preprocessing Tools

## Importing Libraries ##

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## Importing the Dataset

In [ ]:
dataSet = pd.read_csv("Data.csv")
x = dataSet.iloc[:,:-1].values    # Get all row values from csv. Get all column values but last one.
y = dataSet.iloc[:,-1].values     # Get all row values from csv. Get the LAST column values.

In [ ]:
print(x)

[['France' 44.0 72000.0]
 ['Spain' 27.0 48000.0]
 ['Germany' 30.0 54000.0]
 ['Spain' 38.0 61000.0]
 ['Germany' 40.0 nan]
 ['France' 35.0 58000.0]
 ['Spain' nan 52000.0]
 ['France' 48.0 79000.0]
 ['Germany' 50.0 83000.0]
 ['France' 37.0 67000.0]]

In [ ]:
print(y)

['No' 'Yes' 'No' 'No' 'Yes' 'Yes' 'No' 'Yes' 'No' 'Yes']

## Taking Care Of Missing Data ##

In [5]:
from sklearn.impute import SimpleImputer

# Replace the missing salary with the average salary
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')

# Specify all rows, and column indexes 1 and 2 that have missing values
imputer.fit(x[:, 1:3])

# Update the matrix
x[:, 1:3] = imputer.transform(x[:, 1:3])

In [6]:
print(x)

[['France' 44.0 72000.0]
 ['Spain' 27.0 48000.0]
 ['Germany' 30.0 54000.0]
 ['Spain' 38.0 61000.0]
 ['Germany' 40.0 63777.77777777778]
 ['France' 35.0 58000.0]
 ['Spain' 38.77777777777778 52000.0]
 ['France' 48.0 79000.0]
 ['Germany' 50.0 83000.0]
 ['France' 37.0 67000.0]]

## Encoding Categorical Data

### Encoding the Independent Variable ###

In [8]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

# Create OneHotEncoder for the country column
# Opt to keep the Age and Salary columns with passthrough
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(),[0])], remainder='passthrough')

# Convert to numpy array
# Update the matrix
x = np.array(ct.fit_transform(x))

In [10]:
# Encoding Results
# France  1 0 0
# Spain   0 1 0
# Germany 0 0 1
print(x)

[[1.0 0.0 0.0 44.0 72000.0]
 [0.0 0.0 1.0 27.0 48000.0]
 [0.0 1.0 0.0 30.0 54000.0]
 [0.0 0.0 1.0 38.0 61000.0]
 [0.0 1.0 0.0 40.0 63777.77777777778]
 [1.0 0.0 0.0 35.0 58000.0]
 [0.0 0.0 1.0 38.77777777777778 52000.0]
 [1.0 0.0 0.0 48.0 79000.0]
 [0.0 1.0 0.0 50.0 83000.0]
 [1.0 0.0 0.0 37.0 67000.0]]

### Encoding the Dependent Variable ###

## Splitting the Dataset Into the Training set and Test set ##

## Feature Scaling ##